useDynLib(FLCNA, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)


export(CNA.out)
export(FLCNA)
export(FLCNA_QC)
export(FLCNA_normalization)
import(stats)
importFrom(mvtnorm,dmvnorm)
